.chatbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.chatbox {
    width: 100%;
    max-width: 780px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 15px;
}

.messages {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    code {
        background-color: #cecece;
        padding: 2px 5px;
        border-radius: 3px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        color: #1b1b1b;
    }

    pre {
        background-color: #cecece;
        padding: 10px;
        border-radius: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        color: #1b1b1b;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: auto;
    }

    ul {
        padding-left: 20px;
        margin-top: 5px;
    }

    ul li {
        margin-bottom: 5px;
    }

    ol {
        padding-left: 20px;
        margin-top: 5px;
    }

    ol li {
        margin-bottom: 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin: 10px 0;
    }

    strong {
        font-weight: bold;
    }

    em,
    i {
        font-style: italic;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5;
    }

    a {
        color: #1a73e8;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    u {
        text-decoration: underline;
    }

    s {
        text-decoration: line-through;
    }

    blockquote {
        margin: 10px 0;
        padding: 10px;
        background-color: #cecece;
        border-left: 5px solid #ddd;
        font-style: italic;
    }
}

.user-message {
    align-self: flex-end;
    background-color: #cecece;
    p {
        margin: 0;
    }
}

.input-box {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #cecece;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.input-div {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-right: 10px;
    min-height: 40px;
    max-height: 150px;
    overflow-y: auto;
}

button {
    width: 60px;
    height: 30px;
    background-color: #868686;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    cursor: pointer;
}
